/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
li {
  list-style-type: none;
}
* {
  box-sizing: border-box;
}
.site-logo {
  display: none;
}
.region-header {
  display: inline-block;
}
.wrap-all {
  display: block;
  overflow: auto;
}
.region-footer {
  text-align: center;
  background-color: grey;
}
.column.footer-column {
  width: 33%;
  float: left;
  border-bottom: 1px solid white;
}
.inner-wrap-main {
  padding-bottom: 48px;
  width: 70%;
}
.inner-wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
}
.outer-wrap-main {
  min-height: 30em;
}
.region-sidebar-left {
  width: 30%;
  height: 100%;
  float: left;
}
.outer-wrap-main {
  margin: 10px;
  overflow: auto;
}
.region-header-col-1 {
  float: left;
}
.region-header-col-2 {
  float: left;
}
.region-header-col-3 {
  float: right;
}
.outer-wrap-header a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: bold;
}
.site-logo-text a {
  text-decoration: none;
  font-size: 40px;
  color: darkgreen;
}
.region-header-col-2 ul {
  list-style-type: none;
}
.rm-navbar li {
  display: inline;
  padding: 10px;
}
.rm-navbar a:hover {
  text-decoration: underline;
  display: inline;
}
.rm-navbar a:active {
  text-decoration: underline;
}
.region-flash-message {
  display: block;
  border: 1px solid darkblue;
  background-color: lightblue;
}
.next-previous .next {
  float: right;
  text-align: right;
}
.next-previous .next,
.next-previous .previous {
  width: 50%;
}
.region.sidebar-right {
  width: 33%;
  float: right;
}
.region-sidebar-left ul {
  list-style-type: none;
}
.region-sidebar-left li {
  border: 1px solid black;
  padding: 2px;
  width: 80%;
}
.region-sidebar-left a {
  text-decoration: none;
  font-weight: normal;
}
.region-sidebar-left li:hover {
  background-color: grey;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #eee;
}
body {
  margin: 0;
  padding: 0;
  color: #111;
  background-color: #fff;
}
img {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
/* Hide submenu, leave this to kmom02 */
.region-flash,
.region-breadcrumb {
  margin: 0 auto;
  max-width: 1100px;
  background-color: #ccc;
}
.inner-wrap-main {
  margin: 0 auto;
  max-width: 1100px;
  background-color: #ccc;
  overflow: auto;
}
.region-main {
  width: 100%;
  float: left;
}
.region-main.has-sidebar {
  width: 70%;
}
.region-main.has-sidebar-left.has-sidebar-right {
  width: 40%;
}
.wrap-sidebar {
  width: 30%;
  float: left;
}
.next-previous .next {
  float: right;
  text-align: right;
}
.next-previous .next,
.next-previous .previous {
  width: 50%;
}
.site-logo {
  display: none;
}
.site-logo-text a {
  text-decoration: none;
  font-size: 40px;
  color: darkgreen;
}
.outer-wrap-header {
  background-color: #fff;
  overflow: hidden;
}
.outer-wrap-header a {
  text-decoration: none;
  font-size: 30px;
  color: green;
  font-weight: bold;
}
.inner-wrap-header {
  max-width: 100%;
}
.region-header-col-1,
.region-header-col-3 {
  width: 20%;
  float: left;
}
.region-header-col-2 {
  width: 60%;
  text-align: center;
  float: left;
}
.region-header-col-2 ul {
  list-style-type: none;
}
.info {
  border: 2px solid #92cae4;
  color: #205791;
  background: #d5edf8;
}
.outer-wrap-footer,
.inner-wrap-footer {
  color: #ddd;
  background-color: #424242;
}
.region-footer {
  text-align: center;
}
.footer-column {
  width: 33%;
  float: left;
  border-bottom: 1px solid white;
}
.footer-column-1,
.footer-column-2 {
  padding-left: 1em;
  border-right: 1px solid #666;
}
.footer-column-2,
.footer-column-3 {
  padding-left: 1em;
}
.footer-column-x {
  padding-bottom: 24px;
  padding-right: 1em;
}
/**
 * Layout for responsive style through media queries.
 */
@media screen and (max-width: 1500px) {
  .site-logo {
    display: none;
  }
}
@media screen and (max-width: 1030px) {
  .rm-desktop {
    display: none;
  }
}
@media screen and (max-width: 1610px) {
  .rm-desktop a {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .region-header-col-1,
  .region-header-col-3 {
    width: 15%;
  }
  .region-header-col-2 {
    width: 70%;
  }
}
@media screen and (max-width: 1310px) {
  .rm-desktop a {
    padding-left: 0.3em;
    padding-right: 0.3em;
    font-size: 30px;
  }
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
